

.mr-auto {
  justify-content: space-evenly;
  display: flex;
  min-width: 69vw;
}

.form-control {
  min-width: 50vw;
}

.card-div {
  padding: 5px;
  border: 1px black solid;
  text-align: left;
  width: 100%;
  height: 100%;

}

.item-lookup {
  background-image: url('./images/image.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 80px;
  height: 100vh;
  color: white;
}

.card-container {
  padding-top: 20px;
  margin: auto;
  border: 2px black;
  width: 300px;
  height: 600px;
}

.add-to-orders {
  width: 100%;
}

.submit-form {
  text-align: center;
}

.adjust-div {
  text-align: center;
}

.orders-image-style {
  margin: auto;
  width: 100px;
  height: 100px;
}

.about-div {
  margin: auto;
  text-align: justify;
  width: 600px;
  height: 600px;
  
}

/* below is styling for table */
.users {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.row-ID {
  width: 10%;
}
.row-name {
  width: 30%;
}
.row-description {
  width: 30%;
}
.row-qty {
  width: 10%;
}

.row-price {
  width: 10%;
}

.row-image {
  width: 10%;
}

.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.users th {
  background: darkblue;
  color: white;
}
.users td,
.users th {
  text-align: left;
  padding: 5px 10px;
}
.users tr:nth-child(even) {
  background: lightblue;
}

.order-image {
  width: 50px;
  height: 50px;
}




