/* * {
  margin: 0;
  width: 100%;
  padding: 0;
} */

.navbar-brand {
  padding-left: 20px;
}

.mr-auto {
  justify-content: flex-end;
  display: flex;
  min-width: 45vw;
}

.form-control {
  min-width: 50vw;
}

.card-div {
  padding: 5px;
  border: 1px black solid;
  text-align: left;
  width: 100%;
  height: 100%;

}

.item-lookup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  /* text-align: center; */
}

.card-container {
  padding-top: 20px;
  margin: auto;
  border: 2px black;
  width: 300px;
  height: 600px;
}

.add-to-orders {
  width: 100%;
}

.submit-form {
  text-align: center;
}

.adjust-div {
  text-align: center;
}

